<%
const [
    title,
    formAction,
] = type === "signup" ? ["Sign up", "/signup"] : ["Log in", "/login"];
const signText = type === "login" ? `<span class="p-1">Not signed? <a href="/signup">sign up</a></span>` : `<span class="p-1">Already signed? <a href="/login">Log in</a></span>`;
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body>
    <h1 class="h1 text-center"><%= title %></h1>
    <div class="container-fluid d-flex justify-content-center">
        <form action="<%= formAction %>" method="post">
            <label for="email-input">Email:</label>
            <input type="email" name="email" id="email-input" class="form-control" required>
            <label for="password-input">Password:</label>
            <input type="password" name="password" id="password-input" class="form-control" required>
            <%- signText %>
            <input type="submit" value="<%= title %>" class="btn btn-primary mt-2">
        </form>
    </div>
</body>
</html>